<div class="container ">
    <div class="row mt-3 mb-3 ">
        <div class="averpoint col-md-4 text-center">
            <img src="http://www.averpoint.com/images/LogoLongBlack.png">
        </div>
        <div class="col-md-4 ">
            <form class="navbar-form">
                <div class="input-group mb-3 rounded">

                    <input class=" input form-control" type="text" placeholder="&#xF002; search..">
                    


                </div>

            </form>
        </div>

        <div class="col-md-4 mt-2">
            <ul class="list-inline text-center">
                <li class="list-inline-item ">
                    <a routerLinkActive="active " routerLink=" ">About</a>
                    <a routerLinkActive="active " routerLink=" ">Points</a>
                    <a routerLinkActive="active " routerLink=" ">Build</a>
                    <a routerLinkActive="active " routerLink=" ">Review</a>
                </li>

            </ul>
        </div>
    </div>


</div>

<router-outlet></router-outlet>