        .point {
          margin: 0 auto;
        }
        .section-padding{
            padding:0 1em;
        }

        .time {
          border-bottom: 1px solid #EEE;
          padding-bottom: .7em;
          margin: 0 -1em;
        }

        .pointline {
          color: #00a1ff;
        }

        .section-1 {
            border: 1px solid #f6f6f6;
            padding: 1em 0;
            border-radius: 5px;
        }

        .subcont {
          border: 1px solid #ced4da;
          padding: 20px;
          font-size: 14px;
        }

        .line {
          border: solid #e8f1f8;
          background-color: #e8f1f8;
        }

        .line2 {
          border-bottom: 1px solid #000000;
        }

        .city {
          border: 1px solid #ced4da;
          border-radius: 100px;
          color: gray;
        }

        .averpoint>img {
          max-width: 100%;
        }

        .averpoint {
         margin: 0 -1em;
        }

        .card-title {
          background-color: #1286c8;
          cursor: pointer;
          color: white;
          padding: 0;
        }

        .datapoint {
          color: #1286c8;
          cursor: pointer;
          font-weight: 800;
        }

        .point_data {
          font-weight: 300;
          color: #8b9ec1;
          font-size: 19px;
        }

        .dataimg>img {
          width: 22px;
        }
       .image{
        margin: 0 -1.25em;
        padding-bottom: 1em;   
       }

        .image>img {
          max-width: 100%;
        }

        .like-dislike {
          color: #1286c8;
          cursor: pointer;
          padding: .5em 0;
        }
        .likesupport{
            border-right: 1px solid #1286c8;
        }

        .ingq {
          color: #1286c8;
          cursor: pointer;
        }

        .enterprices {
          color: #c28e4c;
          font-weight:500;
          cursor: pointer;
        }

        .card-body {
          flex: unset;
          border: 1px solid #eeeeee47
        }

        .pointData {
          color: rgb(211, 230, 237);
        }

        .facts {
          color: rgb(211, 230, 237);
        }

        .check {
          color: #7fb800;
        }

        .verfied {
          color: #b7c6cf;
        }

        .item {
          align-items: center;
        }

        .subpoint {
          color: #1286c8;
          font-size: 14px;
        }

        .hour {
          color: #c28e4c;
          font-weight: 800;
        }

        .fact-point {
          color: #eddeca;
          font-weight: 400;
        }

        .subData {
          font-weight: 600;
        }

        .point-hour {
          color: #8b9ec1;
          font-weight: 300;
        }

        .ADD-share-invite {
          color: #b7c6cf;
          font-weight: 700;
        }
        .support{
            font-weight: 800;
            font-size: 18px; 
        }
        .margin-bottom{
          border-bottom: 1px solid #EEE;
            margin: 0 -1.25em;
            padding: 0 1.25em;
            padding-bottom: 1em;
            
        }
